<a href="https://colab.research.google.com/github/cespinosafc/computation_notes/blob/main/Python_cond_loops_list_tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Condicionales

## Condicional If

El condicional `if` nos permite ejecutar un código siempre y cuando una condición se cumpla.

La sintáxis general de un condicional es

```
if condicion:
    codigo1
    codigo2
    .
    .
```
A diferencia de C, en Python se identifica el código dentro del `if` por medio de la **indentación**. Todo el código que este "dentro" o indentando dentro del if,  Python lo indentificará como parte del `if`.

Por ejemplo:

In [ ]:
if 1>0:
    print("Hola 1")
    print("Hola 1.1")
    print("Hola 1.2")
print("Hola 2")
print("Hola 3")

Hola 1
Hola 1.1
Hola 1.2
Hola 2
Hola 3

En el anterior ejemplo, solo los print que estan indentados se ejecutarán si la condición del condicional `if` se cumple. Los print que estan afuera (no indentados) siempre se ejecutarán.

In [ ]:
if 1<0:
    print("Hola 1")
    print("Hola 1.1")
    print("Hola 1.2")
print("Hola 2")
print("Hola 3")

Hola 2
Hola 3

Si necesitamos que cierto código se ejecute si la condición no se cumple, utilizaremos la instrucción `else`.

Este comando ejecutará el código que este *dentro* (indentado) de él. El `else` no se puede usar solo, siempre debe de estar acompañado por un `if`.

```
codigo1
codigo2
if condicion:
    codigo1_if
    codigo2_if
    .
    .
else:
    codigo1_else
    codigo2_else
    .
    .
codigo3
codigo4
```
Por ejemplo:

In [ ]:
if 1<0:
    print("Hola 1")
    print("Hola 1.1")
    print("Hola 1.2")
else:
    print("Hola 2")
print("Hola 3")

Hola 2
Hola 3

En el caso anterior, no se ejecutaron los print que estaban dentro de `if` por que la condición es falsa, solo se ejecuta las líneas dentro del `else` y las líneas que están despues del condicional.

## Condicional elif

En algunas ocasiones es útil realizar una comparación después de que una condición en un `if` no se cumple. En lugar de poner:
```
.
.
else:
    if:
        .
        .
```
Se puede utilizar la instrucción `elif`. Esta instrucción es a combinación de `else` con `if`. Siempre debe de ir despues de un `if` y se ejecutará cuando la condición del primer original no se cumpla. Por ejemplo:

In [ ]:
a = -5
if a<0:
    print(f'{a} es menor que cero')
elif a>0:
    print(f'{a} es mayor que cero')
else:
    print(f'{a} es igual a cero')

-5 es menor que cero

En este caso, cuando `a<0` no se cumple, evalua el siguiente condicional, `a>0`. Por último, si ninguna de las dos condiciones es verdadera, se ejecuta el código dentro del `else`.

## Condicionales anidados

Aunque existe la instrucción `elif`, a veces es necesario tener un condicional `if` dentro de otro condicional `if`, a este tipo de casos se les llama condicionales anidados.

Por ejemplo, tengamos el siguiente código

In [ ]:
edad = 16
if edad >= 18:
    print('Eres mayor de edad')
else:
    if edad >= 16:
        print('Eres mayor de edad y puedes conducir')
    else:
        print('No puedes conducir y no eres mayor de edad')

Eres mayor de edad y puedes conducir

En este caso, se hace otro condicional dentro del `else` de otro condicional. Esto puede ser útil en ciertos casos.

## Tipos de Condiciones

### Operaciones matemáticas
Hasta ahora hemos usado las operaciones usuales de comparación matemática
- Mayor que: $>$
- Menor que: $<$
- Mayor e igual que: $>=$
- Menor e igual que: $<=$
- Comparación (son iguales): $==$
- Comparación (no son iguales): $!=$

Todas estas condiciones regresarán dos posibles valores: `True` o `False`

### Operaciones Lógicas

Tenemos diversas operaciones lógicas que siguen las tablas de verdad usuales:
- Disyunción: `or`
- Conjunción: `and`
- Negación: `not`

Las condiciones en un condicional pueden ser complejas al unir una o mas:

In [ ]:
a = 5
b = -10
if ((a>0) and (b>0)):
        print("a y b son mayores a cero")
elif ((a>0) or (b<0)):
    print("Al menos uno es mayor que cero")

Al menos uno es mayor que cero

# Ciclos

## Ciclo For

Un ciclo for iterará cada uno de los elementos de una secuencia, permitiendo usar cada uno de los elementos en la secuencia en cada iteración del ciclo

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

En este caso, la función `range()` en Python genera una secuencia de números enteros y es comúnmente utilizada en bucles para iterar un número específico de veces.

Sintaxis básica: `range(stop)` genera una secuencia desde 0 hasta `stop - 1`. También puedes especificar un inicio (`range(start, stop)`) y el tamaño del incremento (`range(start, stop, step)`).

In [ ]:
for i in range(1):
    print(i)

0

In [ ]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [ ]:
for i in range(1,7,2):
    print(i)

1
3
5

Es importante destacar que `range()` devuelve un iterador, no una lista. Un iterador es un objeto que produce los elementos uno por uno a medida que se necesitan, en lugar de almacenarlos todos en memoria, lo que lo hace más eficiente.

Si lo ponemos solo en el interprete, nos nos regresará la lista

In [ ]:
range(5)

range(0, 5)

Ni siquiera poniendolo en un print nos dará la lista

In [ ]:
print(range(5))

range(0, 5)

Y si revisamos su tipo, nos dirá que es una clase range.

In [ ]:
m = range(5)
print(type(m))

<class 'range'>

Por lo que su uso es *casi exclusivamente* en un ciclo.

## Ciclo while

El ciclo while en Python es técnicamente igual que el ciclo correspondiente en C. Repitirá el bloque de código indentado mientras cierta condición sea cierta.

Es importante señalar que con el ciclo `while`, el usuario es responsable de hacer que en algún momento la condición del while ya no se cumpla para que se garantice que se termina el ciclo, de lo contrario se obtendrá un ciclo *infinito*.

En este caso, haremos una lista de numeros de 0 al 4

In [ ]:
a = 0
while a<5:
    print(a)
    a+=1

0
1
2
3
4

## Break

Podemos controlar la terminación del ciclo con la instrucción `break`. Cuando Python encuentre esta instrucción, detendrá el ciclo while (y for) que se esté ejecutando en ese momento.

In [ ]:
a = 0
while True:
    print(a)
    if a==5:
        break
    a+=1

0
1
2
3
4
5

## Continue

La instrucción `continue` sirve para que la iteración actual se detenga en ese momento y avance a la siguiente iteración sin importar que haya aun código que ejecutar, dicho de otro modo, termina la iteración actual y salga a la siguiente.

In [ ]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

# Colecciones de elementos

En Python, las colecciones permiten almacenar y organizar múltiples elementos en una sola estructura. Estas colecciones pueden variar en cuanto a sus propiedades, como el orden, la mutabilidad y la capacidad de almacenar duplicados. Las principales colecciones de Python incluyen:

- Listas (`list`): Son colecciones ordenadas y mutables, lo que significa que puedes modificar los elementos después de su creación. Permiten elementos duplicados.

- Tuplas (`tuple`): Son similares a las listas, pero son inmutables, es decir, no se pueden modificar una vez creadas. También son ordenadas y permiten duplicados.

- Conjuntos (`set`): Son colecciones no ordenadas y mutables, pero no permiten elementos duplicados. Se usan comúnmente para eliminar duplicados de una lista y realizar operaciones de teoría de conjuntos.

Cada tipo de colección tiene sus propias características y usos según las necesidades de tu programa, permitiéndote manejar y procesar datos de diversas maneras.

## Listas

Una lista en Python es una colección ordenada y mutable que permite almacenar múltiples elementos en una sola variable. Las listas pueden contener elementos de cualquier tipo de dato, como números, cadenas, o incluso otras listas.

Una de las características más importantes de las listas es que puedes modificar su contenido después de crearlas (agregar, eliminar o cambiar elementos), lo que las hace muy flexibles. Además, las listas permiten elementos duplicados, lo que significa que un mismo valor puede aparecer más de una vez.

Las listas se definen utilizando corchetes `[]` y los elementos se separan por comas.

In [ ]:
lista1 = [1,2,3,4,5]
lista2 = ['a','b','c','d','e']
lista3 = [1,2,'a',True, 1.1,'hola'] # False

In [ ]:
print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']
[1, 2, 'a', True, 1.1, 'hola']

Los elementos de una lista se pueden iterar con un ciclo for de manera rápida

In [ ]:
for i in lista3:
    print(i)

1
2
a
True
1.1
hola

Igualmente se puede acceder a sus elementos por medio de los índices de los elementos. En Python, el primer elemento tiene el índice 0

In [ ]:
lista3[0]

1

In [ ]:
lista3[3]

True

### Operaciones con listas

Hay ciertas operaciones que se pueden realizar con las listas. Una de ellas es la suma, pero no es la suma usual a la que estamos acostumbrados con vectores (elemento más elemento), la suma con listas concatenará las listas una tras otra.

In [ ]:
lista1 + lista2

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

Igualmente, las listas pueden ser multiplicadas por un escalar (entero) que hará que la lista sea repetida tantas veces según el escalar.

In [ ]:
lista1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Notesé que la mulitplicación entre listas no es posible

In [ ]:
lista1 * lista1

TypeError: can't multiply sequence by non-int of type 'list'

Entonces, como podriamos hacer una suma de listas como estamos acostumbrado con los vectores. Recordemos que si sumamos dos listas, estas se concatenarán

In [ ]:
lista1 + lista1

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Para realizar la suma elemento a elemento tenemos que acceder a los elementos de las, esto puede hacerse con un ciclo for:

In [ ]:
for i in lista1:
    print(i)

1
2
3
4
5

Entonces, si sabemos que ambas listas, tienen el mismo número de elementos, podemos acceder a cada elemento de ambas listas y sumarlos.

In [ ]:
for i in range(5):
    print(lista1[i]+lista1[i])

2
4
6
8
10

Podríamos intentar iterar ambas listas al mismo tiempo con un ciclo for

In [ ]:
for n1 in lista1, lista1:
    print(n1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

Pero esto tomara como que queremos iterar la lista1 y la lista1, es decir, el for tomara que la secuencia de datos es `[lista1, lista1]`, por lo que en la primera iteración tendremos a la lista1 y en la segunda iteración a la lista1 de nuevo.


Para realizar la iteración de ambas listas al mismo tiempo, podemos utilizar la función zip

In [ ]:
for n1, n2 in zip(lista1, lista1):
    print(n1+n2)

2
4
6
8
10

Esto hará que se tengan la iteración de ambas listas al mismo tiempo, logrando la suma elemento a elemento usual.

Pero podemos incluso iterar listas que no sean del mismo tamaño, dado que se tomará como referencia a la lista de menor tamaño

In [ ]:
lista4 = [10,11,12,13,14,15,16,17]

In [ ]:
for n1, n2 in zip(lista1, lista4):
    print(n1+n2)

11
13
15
17
19

### Operaciones varias

Además de las operaciones *aritméticas* tenemos otro tipo de operaciones. Tengamos una lista

In [ ]:
lista1=[1,2,3,4,5]
print(lista1)

[1, 2, 3, 4, 5]

Podemos agregar elementos con la "propiedad" (aunque después veremos que es un método) `append()`. Esto agregará el elemento que le indiquemos al final.

In [ ]:
lista1.append(6)
print(lista1)

[1, 2, 3, 4, 5, 6]

Podemos agregar cualquier tipo de elemento a las listas

In [ ]:
lista1.append(True)

In [ ]:
print(lista1)

[1, 2, 3, 4, 5, 6, True]

Incluso podemos agregar una lista, pero tenemos que remarcar que se agregará la lista como tal y no elemento por elemento.

In [ ]:
lista1.append([1.1, 'a'])

In [ ]:
print(lista1)

[1, 2, 3, 4, 5, 6, True, [1.1, 'a']]

Igualmente, podemos eliminar un elemento por su valor con la propiedad `remove()`. Esta función buscará el elemento si existe en la lista y lo eliminará.

In [ ]:
lista1.remove(1)
print(lista1)

[2, 3, 4, 5, 6, True, [1.1, 'a']]

Si el elemento no existe en la lista, esto indicará un error.

In [ ]:
lista1.remove(100)
print(lista1)

ValueError: list.remove(x): x not in list

Si hay varios elementos iguales, la función `remove` eliminará al primer elemento.

In [ ]:
lista6 = [1,1,1,1,1,2]
print(lista6)
lista6.remove(1)
print(lista6)

[1, 1, 1, 1, 1, 2]
[1, 1, 1, 1, 2]

Debemos de tomar en cuenta que `remove` no da como resultado nada, solo borra el valor y ya.

In [ ]:
lista6 = [1,1,1,1,1,2]
print(lista6)
removido = lista6.remove(1)
print(lista6)
print(removido)

[1, 1, 1, 1, 1, 2]
[1, 1, 1, 1, 2]
None

Sin embargo, la propiedad `pop(n)` eliminará el valor con el índice `n` indicado. Y a diferencia de `remove`, `pop` regresa el valor eliminado.

In [ ]:
lista6 = [1,1,1,1,1,2]
print(lista6)
removido = lista6.pop(0)
print(lista6)
print(removido)

[1, 1, 1, 1, 1, 2]
[1, 1, 1, 1, 2]
1

Otra función importante es `len()` que regresa el número de elementos de la lista que se ponga como argumento.

In [ ]:
lista7 = [1,2,3,4,5]
print(lista7)
print(len(lista7))

[1, 2, 3, 4, 5]
5

Si hay una lista dentro de la lista, la lista solo contará como un elemento.

In [ ]:
lista7 = [1,2,3,4,5,[1,2]]
print(lista7)
print(len(lista7))

[1, 2, 3, 4, 5, [1, 2]]
6

Otra propiedad importante es `sort()`. Este método ordenará de menor a mayor la lista en cuestión.

In [ ]:
lista9 = [1,7,2,9,11]
print(lista9)
lista9.sort()
print(lista9)

[1, 7, 2, 9, 11]
[1, 2, 7, 9, 11]

Si se agrega la opción `reverse=True`, lo ordenará en sentido inverso, es decir de mayor a menor.

In [ ]:
lista9 = [1,7,2,9,11]
print(lista9)
a = lista9.sort(reverse=True)
print(lista9)
print(a)

[1, 7, 2, 9, 11]
[11, 9, 7, 2, 1]
None

## Tuplas

Recordemos que las listas son secuencias de datos mutables, podemos acceder a sus elementos por medio de sus índices (también existen índices negativos)

In [ ]:
lista9 = [1,7,2,9,11]
print(lista9[0])
print(lista9[-1])
print(lista9[-2])

1
11
9

Una tupla en Python es una colección ordenada de elementos, similar a las listas, pero con una diferencia clave: son inmutables. Esto significa que, una vez creadas, no puedes modificar, agregar ni eliminar elementos en una tupla. Las tuplas son ideales cuando necesitas almacenar un conjunto de valores que no deben cambiar durante la ejecución del programa.

Al igual que las listas, las tuplas pueden contener elementos de diferentes tipos de datos y permiten duplicados. Se definen usando paréntesis `()` y los elementos se separan por comas.

In [ ]:
tupla1 = (1,2,3,4,5)
print(tupla1)
print(type(tupla1))

(1, 2, 3, 4, 5)
<class 'tuple'>

Al igual que hacemos con las listas, podemos acceder a los elementos de las tuplas con sus índices

In [ ]:
tupla1[0]

1

pero la diferencia es que, mientras a las listas podemos modificarlas, incluso cambiar sus elementos por medio de sus índices

In [ ]:
print(lista1)
lista1[0] = 99
print(lista1)

[2, 3, 4, 5, 6, True, [1.1, 'a']]
[99, 3, 4, 5, 6, True, [1.1, 'a']]

Con las tuplas no podemos realizar tal cambio

In [ ]:
tupla1 = (1,2,3,4,5)
print(tupla1)
tupla1[0] = 99
print(tupla1)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

Igualmente, no podemos agregar, quitar o modificar de ninguna manera sus elementos. Para realizar cambios, tenemos que redefinirlas de nuevo.